.selectedOptionsContainer {
  padding-left: 0;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.selectedOption {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  min-height: 21px;
}

.selectedOptionLabel {
  margin-left: 20px;
}

.clearOptionButton {
  background: transparent;
  border: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.clearIcon {
  width: 11px;
}
